.bookmarks-section {
  margin: 20px 0;

  h1, h2 {
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px;
      margin-bottom: 10px;
      background-color: #f8f9fa;
      border-radius: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .delete-link {
        color: red;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
