.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .navbar {
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);

//   .navbar-brand {
//     font-size: 1.5rem;
//     font-weight: bold;
//     color: #333;
//   }

//   .nav-link {
//     transition: all 0.2s ease;
//   }
//   &.btn {
//     padding: 0.3rem 0.9rem;;
//   }

//   &:hover {
//     color: #0d6efd;
//   }
// }
